*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: url('back.jpg');
  background-size: cover;
  height: 100vh;

}
ul{
  display: flex;
  align-items: center;
  justify-content: end;
}
li{
  list-style: none;
  padding: 10px;
  font-size: larger;
}
img{
  height: 70px;
  width: 80px;
}
h1{
  text-align: center;
}
.con{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
}
.form{
  width: 400px;
  height: 400px;
  background-color: rgba(41, 41, 41, 0.4);
  text-align: center;
  border-radius: 10px;
}
.formin{
  width: 400px;
  height: 300px;
  background-color: rgba(41, 41, 41, 0.4);
  text-align: center;
  border-radius: 10px;
}
input{
  height: 35px;
  width: 300px;
 margin: 20px;
 border: 0.5px solid black;
 border-radius: 7px;
 background-color: rgb(84, 84, 84);
}
#submit{
  height: 35px;
  width: 300px;
  margin: 20px;
  border: 0.5px solid black;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(253,250,4,1) 0%, rgba(9,121,10,1) 46%, rgba(0,255,16,1) 100%);

}
.message{
  height: 100px;
  width: 500px;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.content{
  display: flex;
}
.concontent{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
}